@use "../../custom-colors.scss" as colors;

.report-card {
  border-radius: 16px;
  padding: 24px;
  margin: 40px auto;
  max-width: 500px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);

  h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
  }

  .full-width {
    width: 100%;
    margin-bottom: 16px;
  }

  button {
    margin-top: 16px;
  }

  p {
    margin-top: 16px;
    font-style: italic;
    text-align: center;
    color: gray;
  }
}

.report-header {
  color: colors.$gray-text;
}

