<div>
  <input
    #uploadFileInput
    style="display: none"
    type="file"
    accept=".csv"
    (change)="onFileSelected($event)"
  />
  <button
    mat-raised-button
    color="primary"
    (click)="uploadFileInput.click()"
    [disabled]="selectedFile"
  >
    Choose File
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="uploadFile()"
    [disabled]="!selectedFile"
  >
    Upload
  </button>
</div>

<mat-progress-bar
  *ngIf="uploadProgress > 0 && uploadProgress < 100"
  mode="determinate"
  [value]="uploadProgress"
></mat-progress-bar>

<div *ngIf="uploadResult">
  <h3>Upload Result:</h3>
  <pre>{{ uploadResult | json }}</pre>
</div>

<div *ngIf="error" class="error">
  {{ error }}
</div>
