.upload-card {
  border-radius: 16px;
    padding: 24px;
    margin: 40px auto;
    max-width: 500px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);

  h2 {
    margin-bottom: 30px;
  }
  .hint {
    font-size: 0.9rem;
    color: #666;
    margin-top: 8px;
  }
  .statusMessage{
    text-align: center;
  }
  
}
